/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Set background image */
    background-image: url('https://images.unsplash.com/photo-1495592822108-9e6261896da8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

/* Your existing styles go here */
marquee {
    animation: marquee 10s ease-in normal;
    white-space: nowrap;
}

/* Navigation bar styles */
nav {
    background-color: #637A9F;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

nav .logo h2 {
    margin: 0;
}

li:hover {
    transform: translateY(2px);
}

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav .nav-links li {
    margin-right: 20px;
}

nav .nav-links li:last-child {
    margin-right: 0;
}

nav .nav-links li a {
    color: #1f1f1f;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-links li a:hover {
    color: #ffa500;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    margin: 10px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff7f00;
}
.flashes {
    color: white
}