<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Update</title>
    <link rel="stylesheet" href="static/style_info.css">
</head>
<body>
    <div class="container">
        <div id="userDetails" class="page">
            
            <h2>Vehicle Details</h2>
            <form id="userDetailsForm" method="POST" action="/VehicleUpdate">
                <label for="vehicleNumber">Vehicle Number:</label><br>
                <input type="text" id="vehicleNumber" name="vehicleNumber" required><br>
                <label for="manufactureDate">Manufacture Date:</label><br>
                <input type="date" id="manufactureDate" name="manufactureDate" required><br>
                <label for="model">Model:</label><br>
                <input type="text" id="model" name="model" required><br>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>

</body>
</html>